<ul>
	<li><%= link_to "Manage Calendars", "#" %></li>
	<li><%= link_to "Manage Leave Type", "#" %></li>
	<li><%= link_to "Manage Employees", "#" %></li>
	<li><%= link_to "Manage Salaries", "#" %></li>
	<li><%= link_to "Manage Monthly Salary", "#" %></li>
	<li><%= link_to  "Manage Salary Heads", "#" %></li>
	<li><%= link_to "Manage Components", "#" %></li>
	<li><%= link_to "Manage Component Elements", "#" %></li>
	<li><%= link_to "Manage Bills" , "#"  %></li>
	<li><%= link_to "Approve Tax Declaration", "#" %> </li>
</ul>
